.div-navbar {
    width: 100%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.div-navbar a {
    width: 100%;
    padding: 20px 5px;
    border-bottom: 1px solid var(--text-color-primary);
    text-align: center;
}

.div-navbar a:first-of-type {
    border-top: 1px solid var(--text-color-primary);
}

.div-navbar a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .div-navbar {
        width: auto;
    }

    .navbar-list {
        flex-direction: row;
    }

    
    .div-navbar a {
        border: none;
        border-right: 1px solid var(--text-color-primary);
    }

    .div-navbar a:first-of-type {
        border-top:none;
    }
    
    .div-navbar a:last-of-type {
        border-right:none;
    }

    .navbar-list-item {
        border: none;
        padding: 5px 20px;      
        transition: background-color 250ms;
    }


    .navbar-list-item:first-of-type {
        border-top: none;
    }


    .div-navbar a:hover, .div-navbar a:active, .div-navbar a:focus {
        background-color: var(--accent-color-primary);
    }    
}