:root {
  /* Color Variables */
  --primary-color: black;
  --text-color-primary: white;
  --accent-color-primary: rgb(112, 112, 243);
  --accent-color-secondary: rgb(116, 116, 255);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color-primary);
}

.App-link {
  color: #09d3ac;
}

#root {
  background-color: black;
  color: var(--text-color-primary);
  min-height: 100vh;
}

.div-app {
  padding: 10px 25px;
}
